@font-face
{
    font-family: pokemon;
    src: url("fonts/Pokemon\ Hollow.ttf");
}
@font-face
{
    font-family: pokemon2;
    src: url("fonts/Pokemon\ Solid.ttf");
}
body
{
    
    background-image: url(img/Pokémon_Stadium.jpg);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    
}
.container
{
    z-index: 1;
    font-family: pokemon2;
    display: grid;
    grid-template-rows: 25%  63% 12%;
    position: relative;
    width: 300px;
    height: 600px;
    background-color: white;
    margin: 1% auto;
    align-content: center;
    border-radius: 15px;    
}
#display
{  
    width: 100%;
    height: 100%;
    background-color: rgba(241, 12, 12, 0.89);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}
#display input
{   
    font-family: pokemon2;
    position: relative;
    width: 70%;
    height: 45%;
    margin: 4% auto;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}
button
{
    font-family: pokemon2;
    color: yellow;
    background-color: rgba(241, 12, 12, 0.89);
    border-radius: 5px;
    position: relative;
    width: 100px;
    margin-top: 0;
    padding-top: 0;
    transition: 0.5s ease;
    font-size: 14px;
    
}
button:hover

{
    background-color: brown;
    color: white;
    transition: 0.5s ease;
}
img{
    position: absolute;
    width: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 11% 5px;  
}
.resultado
{
    z-index: 2;
    box-sizing: border-box;
    padding-top: 0;
    margin-top: 0;
    margin-left: 10%;
    font-size: 16px;
    animation:bounce;
    animation-duration: 2s;
}
.display_resultado
{
    display: grid;
    grid-template-rows: 58% 42%;
}
.resultado p
{
    margin-top: 0;
    margin-bottom: 0;
}
.pokemon img
{
    margin-top: 0;
    z-index: 2;
    
}

#logo
{
    width: 200px;
    height: 60px;
    border-radius: 0;
    z-index: 1;
    margin: 0 12%;
    
}
@media (min-width: 1200px)
{
    .container
    {
        margin: 5% auto;
        width: 650px;
        height: 520px;
    }
    .resultado
    {
        width: 100%;
        height: 95%;
    }
    #logo
    {
        width: 500px;
        height: 100%;
        border-radius: 0;
        z-index: 1;
        position: relative;
        margin: 0 12%;
    }
    .pokemon img 
    {
        width: 250px;
        height: 250px;


    }

    .display_resultado
    {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }
    

} 